<a href="https://colab.research.google.com/github/MfonisoUdoh/Hamoye-stage-A-quiz/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from google.colab import files
uploaded = files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [4]:
food_data = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [5]:
food_data.groupby('Item').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [8]:
food_data.groupby('Area')['Y2017'].min()

Area
Algeria                         -81.0
Angola                         -250.0
Benin                          -125.0
Botswana                        -38.0
Burkina Faso                   -281.0
Cabo Verde                       -7.0
Cameroon                       -147.0
Central African Republic         -1.0
Chad                            -37.0
Comoros                           0.0
Congo                            -4.0
Côte d'Ivoire                  -244.0
Djibouti                         -2.0
Egypt                         -1582.0
Eswatini                       -100.0
Ethiopia                       -792.0
Ethiopia PDR                      0.0
Gabon                           -37.0
Gambia                           -2.0
Ghana                          -121.0
Guinea                         -108.0
Guinea-Bissau                    -3.0
Kenya                          -186.0
Lesotho                          -4.0
Liberia                         -19.0
Madagascar                     -324.0
Malawi                          -50.0
Mali                           -600.0
Mauritania                       -1.0
Mauritius                       -25.0
Morocco                        -229.0
Mozambique                    -1200.0
Namibia                         -35.0
Niger                          -682.0
Nigeria                        -694.0
Rwanda                         -631.0
Sao Tome and Principe             0.0
Senegal                         -68.0
Seychelles                        0.0
Sierra Leone                   -180.0
South Africa                   -144.0
Sudan                          -819.0
Sudan (former)                    0.0
Togo                            -32.0
Tunisia                        -186.0
Uganda                         -180.0
United Republic of Tanzania    -865.0
Zambia                          -42.0
Zimbabwe                       -521.0
Name: Y2017, dtype: float64

In [9]:
food_data.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [10]:
food_data.groupby('Area')['Y2017'].max()

Area
Algeria                         41389.00
Angola                          29817.00
Benin                           11175.00
Botswana                         2341.00
Burkina Faso                    19193.00
Cabo Verde                       2530.00
Cameroon                        24566.00
Central African Republic         4596.00
Chad                            15017.00
Comoros                            16.65
Congo                            5111.00
Côte d'Ivoire                   24437.00
Djibouti                         2664.00
Egypt                           96443.00
Eswatini                         5553.00
Ethiopia                       106400.00
Ethiopia PDR                        0.00
Gabon                            2640.00
Gambia                           2544.00
Ghana                           29121.00
Guinea                          12068.00
Guinea-Bissau                    2233.00
Kenya                           50221.00
Lesotho                          2475.00
Liberia                          4702.00
Madagascar                      25571.00
Malawi                          17670.00
Mali                            18512.00
Mauritania                      51864.00
Mauritius                        3713.00
Morocco                         38348.00
Mozambique                      28649.00
Namibia                          2465.00
Niger                           21602.00
Nigeria                        190873.00
Rwanda                          11981.00
Sao Tome and Principe            2407.00
Senegal                         15419.00
Seychelles                        204.02
Sierra Leone                     7488.00
South Africa                    57010.00
Sudan                           40813.00
Sudan (former)                      0.00
Togo                             7698.00
Tunisia                         11433.00
Uganda                          41167.00
United Republic of Tanzania     54660.00
Zambia                          16854.00
Zimbabwe                        14237.00
Name: Y2017, dtype: float64

In [13]:
food_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [15]:
len(food_data)

60943

In [18]:
food_data.groupby('Element')['Y2017'].sum()

Element
Domestic supply quantity                  2088198.10
Export Quantity                            182338.80
Fat supply quantity (g/capita/day)          10253.84
Feed                                       223705.68
Food                                      1258888.28
Food supply (kcal/capita/day)              454681.00
Food supply quantity (kg/capita/yr)         48690.04
Import Quantity                            294559.09
Losses                                     160614.00
Other uses (non-food)                       91645.97
Processing                                 292836.00
Production                                2030056.89
Protein supply quantity (g/capita/day)      11842.45
Residuals                                   35500.00
Seed                                        24870.14
Stock Variation                             54316.91
Total Population - Both sexes             1112641.00
Tourist consumption                            91.00
Name: Y2017, dtype: float64

In [19]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [24]:
food_data.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [25]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: ignored

In [26]:
food_data_corr = food_data.corr()
food_data_corr

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000